@import 'libs/bootstrap-reboot.min';
@import '../fonts/fonts.css';

*
	font-family: 'MADE Outer Sans'
	margin: 0
	padding: 0

.container
	width: 1140px
	margin: 0 auto

@import 'blocks/_title';
@import 'base/_variables';
@import 'base/_mixins';
@import 'blocks/_navigation';
@import 'blocks/_header';
@import 'blocks/_services';
@import 'blocks/_buttons';
@import 'blocks/_review';
@import 'blocks/_technologies';
@import 'blocks/_contact';
@import 'blocks/_footer';
@import 'blocks/_about';

@import 'blocks/media/_media_main';
@import 'blocks/media/_media_title';
@import 'blocks/media/_media_header';
@import 'blocks/media/_media_services';
@import 'blocks/media/_media_review';
@import 'blocks/media/_media_technologies';
@import 'blocks/media/_media_contact';
@import 'blocks/media/_media_footer';
@import 'blocks/media/_media_about';
@import 'blocks/animations';
