@media (max-width: 1200px)
    .review
        &_block
            padding: 40px 50px 50px 50px
    
@media (max-width: 992px)
    .review
        &_block
            padding: 40px 30px 40px 30px
        &_item
            width: 300px
            min-height: 320px
        &_text
            font-size: 15px
        &_slider-prev
            left: -15px
        &_slider-next
            right: -15px
           
@media (max-width: 768px)
    .review
        &_item
            width: 230px
            min-height: 340px
        &_text
            font-size: 13px
        &_user
            &_position
                font-size: 13px
   
@media (max-width: 576px)
    .review
        &_block
            flex-wrap: wrap
            padding: 40px 0px 0px 0px
        &_slider-prev
            display: none
        &_slider-next
            display: none
        &_item
            width: 300px
            min-height: 250px
            margin: 0 auto 40px auto 
            justify-content: center
            &:nth-child(2)
                display: none
        &_text
            margin-bottom: 20px
        &_user
            &_name
                font-size: 17px
            &_position
                font-size: 13px
    