.btn
    display: block
    margin: 0 auto
    padding: 0 25px
    height: 40px
    background: #000000
    border: none
    border-radius: 7px
    font-size: 24px
    color: #FFFFFF
    transition: all .6s
    position: relative
    &_more
        padding: 0 55px
        &::after
            position: absolute
            content: '\203A'
            font-size: 40px
            line-height: 30px
            margin-left: 10px
            top: 0
            transition: all .6s
        &:hover
            &::after
                margin-left: 25px
    &:hover
        box-shadow: 0px 0px 15px #000
    &_start
        background: linear-gradient(122.26deg, #C4204F 19.83%, #B41D52 25.53%, #6C115D 52.15%, #380866 74.3%, #18026B 90.9%, #0C006D 100.06%)
        &:hover
            box-shadow: 0px 0px 15px #AB1B53

.link:hover
    text-decoration: none

