.contact
	padding: 30px 0 50px 0
	background: url('../img/footer_bg.png') no-repeat
	background-size: auto 50%
	background-position: right
	&_form
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		width: 960px
		margin: 0 auto
		margin-top: 30px
		label
			display: block
			margin-bottom: 5px
			font-size: 20px
			color: #000000
		input
			padding: 0 10px
			width: 450px
			margin-bottom: 15px
			height: 40px
			border: 1px solid #000000
			backdrop-filter: blur(11px)
			border-radius: 8px
			cursor: pointer
		textarea
			padding: 5px 10px
			margin-bottom: 30px
			display: block
			width: 100%
			height: 150px
			border-radius: 4px
			resize: none
			border: 1px solid #000000
			backdrop-filter: blur(11px)
			cursor: pointer

.start
	padding: 60px 0 70px 0
	&_header, &_subheader
		font-weight: 700
		text-align: center
		font-size: 32px
		line-height: 32px
		color: #000000
	&_subheader
		text-transform: uppercase
		margin-bottom: 40px


.contact_hidden
	position: fixed
	top: -140%
	left: 0
	width: 100%
	height: 100%
	background-color: #fff
	z-index: 50
	transition: 0.6s all
	overflow: hidden
	&_form
		width: 100%
		margin-top: 30px
		label
		input
			width: 260px
	&_active 
		top: 0
	&_wrapper
		display: flex
		width: 100%
		height: 100%
		.block
			width: 50%
			height: 100%
			&:nth-child(1)
				padding: 40px
				padding-top: 20px
				background-color: #fff
			&:nth-child(2)
				padding: 40px
				background: linear-gradient(122.26deg, #C4204F 19.83%, #B41D52 25.53%, #6C115D 52.15%, #380866 74.3%, #18026B 90.9%, #0C006D 100.06%)
				
.info
	padding-left: 80px
	padding-top: 60px
	&_addr
		position: relative
		color: #fff 
		font-size: 20px
		&::before
			content: ""
			background: url("../icons/contact/location.svg") no-repeat
			background-size: 30px 30px
			display: block
			width: 30px
			height: 30px
			color: #fff
			position: absolute
			left: -35px
			top: 0px
	&_phone
		font-size: 18px
		&::before
			content: ""
			background: url("../icons/contact/phone.svg") no-repeat
			background-size: 30px 30px
			display: block
			width: 30px
			height: 30px
			color: #fff
			position: absolute
			left: -35px
			top: 0px
	a
		display: block
		color: #fff
		&:hover
			text-decoration: none

.social
	margin-top: 40px
	margin-left: 80px
.form_descr
	font-size: 40px
	line-height: 40px

.cross
	display: block
	position: absolute
	top: 30px
	right: 30px
	width: 30px
	height: 30px
	cursor: pointer
	span
		display: block
		position: absolute
		background-color: #fff
		width: 3px
		height: 26px
		transition: all .6s
		&:nth-child(1)
			transform: translateX(12px) translateY(3px) rotate(-45deg)
		&:nth-child(2)
			transform: translateX(12px) translateY(3px)  rotate(45deg)

		
	