.review
	position: relative
	padding: 30px 0 30px 0
	margin-top: 30px
	min-height: 500px
	background: linear-gradient(122.26deg, #C4204F 19.83%, #B41D52 25.53%, #6C115D 52.15%, #380866 74.3%, #18026B 90.9%, #0C006D 100.06%)
	&_bg
		position: absolute
		bottom: 0
		left: 0
		img
			height: 450px
	&_block
		padding: 40px 100px 50px 100px
	&_wrapper
		position: relative
	&_inner
		margin: 2px
		padding: 0
	&_items
		display: flex
		justify-content: space-between
	&_item
		width: 45%
		min-height: 300px
		display: flex
		flex-direction: column
		justify-content: space-between
			
	&_text
		font-size: 17px
		line-height: 20px
		color: #FFFFFF
		margin-bottom: 20px
		p
			&:nth-child(1)
				&::before
					content: '"'
					font-size: 20px
				
	&_user
		display: flex
		align-items: center
		&_avatar
			height: 60px
			width: 60px
			border-radius: 100%
			margin-right: 15px
			img
				height: 60px
				width: 60px
				border-radius: 100%
		&_name
			font-size: 20px
			color: rgb(200,200,200)
			line-height: 20px
		&_position
			font-weight: 300
			font-size: 12px
			color: rgb(200,200,200)
		&_info
			margin-top: 10px
			display: flex
			font-weight: 700
			font-size: 13px
			color: rgb(150,150,150)
		&_hours
			margin-right: 50px
	&_slider-counter
		span
			display: none
			position: absolute
			color: #fff
			font-size: 20px
			&:nth-child(4)
				right: 0
			&:nth-child(3)
				right: 25px
			&:nth-child(2)
				right: 37px
	&_slider-prev
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 0
		cursor: pointer
		z-index: 15
		img
			width: 40px
	&_slider-next
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: 0
		cursor: pointer
		z-index: 15
		img
			width: 40px


