.services
	margin-top: -110px
	margin-bottom: 60px
	&_wrapper
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		padding: 30px 120px 20px 120px
	&_block
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 20px
		padding: 10px
		width: 250px
		height: 100px
		border: 1px solid #8F8F8F
		backdrop-filter: blur(9px)
		border-radius: 7px
		transition: all 1s
		color: #000000
		cursor: pointer
		&:hover
			transition: all .6s
			transform: scale(1.1)
			border: 3px solid #8F8F8F
	&_img
		width: 90px
		img
			width: 100%
	&_text
		width: 130px
		font-weight: 400
		font-size: 15px
		line-height: 15px
		a
			color: #000
			&:hover
				text-decoration: none
				color: #000
			&:before
				content: ''
				position: absolute
				display: block
				top: 0px
				left: 0px
				right: 0px
				bottom: 0px
				//background: rgba(255, 0, 0, 0.06)//цвет убрать
	&-more
		margin-top: -40px
		margin-bottom: 40px
		padding-top: 0
		&_block
			width: 900px
			margin: 0 auto
			margin-bottom: 20px
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			&:nth-child(2n)
				.services-more_img
					order: 1
		&_text
			width: 400px
		&_header
			margin-top: 10px
			font-size: 30px
			color: #000000
		&_descr
			font-size: 15px
			color: #000000
		&_img
			width: 400px
			height: 300px
			&_1
				background: url('../icons/services/1.png') no-repeat
				background-size: auto 90%
				background-position: center
			&_2
				background: url('../icons/services/2.png') no-repeat
				background-size: auto 90%
				background-position: center
			&_3
				background: url('../icons/services/3.png') no-repeat
				background-size: auto 90%
				background-position: center
			&_4
				background: url('../icons/services/4.png') no-repeat
				background-size: auto 90%
				background-position: center
			&_5
				background: url('../icons/services/5.png') no-repeat
				background-size: auto 90%
				background-position: center
			&_6
				background: url('../icons/services/6.png') no-repeat
				background-size: auto 90%
				background-position: center
			&_7
				background: url('../icons/services/7.png') no-repeat
				background-size: auto 90%
				background-position: center
			&_8
				background: url('../icons/services/8.png') no-repeat
				background-size: auto 90%
				background-position: center
			&_9
				background: url('../icons/services/9.png') no-repeat
				background-size: auto 90%
				background-position: center
			
.label
	margin-left: 40px
	position: relative
	&_small
		font-size: 25px
	&::before
		content: ''
		display: block
		width: 40px
		height: 4px
		background-color: #000
		position: absolute
		bottom: 0px
		left: -40px
	&_white
		color: #fff
		&::before
			background-color: #fff

.descr
	padding: 0
	margin: 30px 100px 0 100px
	color: #000000
