// .header_main-title
//     transform: translate(0px, 120%)
//     opacity: 0
//     transition: all 0.8s ease 0s

// .header_main-title._active
//     transform: translate(0px, 0px)
//     opacity: 1

// .title_fs18
//     transform: translate(0px, 120%)
//     opacity: 0
//     transition: all 0.8s ease 0s

// .title_fs18._active
//     transform: translate(0px, 0px)
//     opacity: 1
//     transition: all 0.8s ease 0.4s // задержка

// .review_text 
//     overflow: hidden

// ._anim-show
//     transform: translate(0px, 120%)
//     opacity: 0
//     transition: all 0.8s ease 0s

// ._anim-show._active, ._active ._anim-show
//     transform: translate(0px, 0px)
//     opacity: 1

//МЕНЮ

// .menu
//     &_item
//         opacity: 0
//         transition: all 0.8s ease 0s  //быстро скрываются 
//     &._active 
//         & .menu_item
//             opacity: 1
//             &:nth-child(3)
//                 transition: all 0.8s ease .8s
//             &:nth-child(4)
//                 transition: all 0.8s ease .6s
//             &:nth-child(5)
//                 transition: all 0.8s ease .4s
//             &:nth-child(6)
//                 transition: all 0.8s ease .2s

// .header_main-title
//     transform: translate(-10%, 0)
//     opacity: 0
//     transition: all 0.8s ease 0s
//     &._active
//         transform: translate(0px, 0px)
//         opacity: 1
    

// .review_text 
//     overflow: hidden

// ._anim-show
//     transform: translate(0px, 120%)
//     opacity: 0
//     transition: all 0.8s ease 0s

// ._anim-show._active, ._active ._anim-show
//     transform: translate(0px, 0px)
//     opacity: 1

// .review_user
//     transform: translate(0, -120%)
//     opacity: 0
//     transition: all 0.8s ease 0s
//     &._active
//         transform: translate(0px, 0px)
//         opacity: 1

// .label
//     transform: translate(0, -120%)
//     opacity: 0
//     transition: all 0.8s ease 0s
//     &._active
//         transform: translate(0px, 0px)
//         opacity: 1

// .descr
//     transform: translate(0, 120%)
//     opacity: 0
//     transition: all 0.8s ease 0s
//     &._active
//         transform: translate(0px, 0px)
//         opacity: 1

// .btn
//     transform: translate(0, 120%)
//     opacity: 0
//     transition: all 0.8s ease 0s
//     &._active
//         transform: translate(0px, 0px)
//         opacity: 1

// .technologies_img
//     transform: translate(0, 20%)
//     opacity: 0
//     transition: all 0.8s ease 0s
//     &._active
//         transform: translate(0px, 0px)
//         opacity: 1

// .services-more_text   
//     transform: translate(20%, 0)
//     opacity: 0
//     transition: all 0.8s ease 0s
//     &._active
//         transform: translate(0px, 0px)
//         opacity: 1


// .services-more_img
//     transform: translate(-20%, 0)
//     opacity: 0
//     transition: all 0.8s ease 0s
//     &._active
//         transform: translate(0px, 0px)
//         opacity: 1

// .technology_img
//     transform: translate(0, 120%)
//     opacity: 0
//     transition: all 0.8s ease 0s
//     &._active
//         transform: translate(0px, 0px)
//         opacity: 1


// .information_rated
//     overflow: hidden

// ._anim-left
//     transform: translate(-40%, 0)
//     opacity: 0
//     transition: all 0.8s ease 0s

// ._anim-right
//     transform: translate(40%, 0)
//     opacity: 0
//     transition: all 0.8s ease 0s

// ._anim-left._active, ._active ._anim-left
//     transform: translate(0px, 0px)
//     opacity: 1

// ._anim-right._active, ._active ._anim-right
//     transform: translate(0px, 0px)
//     opacity: 1

// .review_text 
//     overflow: hidden

// ._anim-show
//     transform: translate(0px, 120%)
//     opacity: 0
//     transition: all 0.8s ease 0s

// ._anim-show._active, ._active ._anim-show
//     transform: translate(0px, 0px)
//     opacity: 1
// .menu
//     &_item
//         opacity: 0
//         transition: all 0.8s ease 0s  //быстро скрываются 
//     &._active 
//         & .menu_item
//             opacity: 1
//             &:nth-child(3)
//                 transition: all 0.8s ease .8s
//             &:nth-child(4)
//                 transition: all 0.8s ease .6s
//             &:nth-child(5)
//                 transition: all 0.8s ease .4s
//             &:nth-child(6)
//                 transition: all 0.8s ease .2s


.services, .review, .technologies, .contact, .information, .offer, .location
    transform: translate(0, 20%)
    opacity: 0
    transition: all 0.8s ease 0s
    &._active
        transform: translate(0px, 0px)
        opacity: 1


.anim_left  
    transform: translate(20%, 0)
    opacity: 0
    transition: all 0.8s ease 0s
    &._active
        transform: translate(0px, 0px)
        opacity: 1


.anim_right
    transform: translate(-20%, 0)
    opacity: 0
    transition: all 0.8s ease 0s
    &._active
        transform: translate(0px, 0px)
        opacity: 1


.technology_block
    transform: translate(0, 120%)
    opacity: 0
    transition: all 0.8s ease 0s
    &._active
        transform: translate(0px, 0px)
        opacity: 1